<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/datacontroller.js"></script>
</head>
<body ng-controller="DataController as ctrl">
<p>hello there</p>

</body>
</html>
